Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js": [
    "prettier --cache --write",
    "eslint",
    "pnpm lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "pnpm lint:license:staged"
  ],
  "*.md": [
    "prettier --cache --write"
  ]
}

fix(test): dco
  pnpm-lock.yaml
Due: none

fix(test): dco
  docs/developing.md
Due: prettier --cache --write

fix(test): dco
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

fix(test): dco
  package.json
  pnpm-lock.yaml
Due: none

fix(test): dco
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: none

fix(test): dco
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/chat.ts
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/package.json
  packages/chat/react/feedback.ts
  packages/chat/react/test-input.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
  packages/chat/services/LlamaPlugin/index.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(test): dco
  packages/chat/.nx/cache/file-map.json
  packages/chat/.nx/cache/project-graph.json
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/package.json
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(test): dco
  .gitignore
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
  packages/chat/services/LlamaPlugin/index.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged

fix(test): dco
  packages/chat/components/chat/src/chat.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: none

fix(test): dco
  packages/chat/components/chat/src/chat.template.ts
Due: none

fix(test): dco
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: none

feat(chat): new branch for AI chat
  .gitignore
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/chat.ts
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
  packages/chat/services/LlamaPlugin/index.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(chat): removed user_id and linted plugin
  packages/chat/components/chat/chat.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
  packages/chat/services/LlamaPlugin/index.ts
Due: none

feat(chat): extracted message system, conformed css to figma
  .gitignore
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/__stories__/message.stories.js
  packages/chat/components/message/message.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): new branch for AI chat (#66)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/chat.ts
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/__stories__/message.stories.js
  packages/chat/components/message/message.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
  packages/chat/services/LlamaPlugin/index.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): added sample queries in story
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): error handling, reworked controls and API calls
  .gitignore
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): small ts error fix
  packages/chat/components/message/src/message.ts
Due: none

feat(chat): reworking of error handling, story controls, added video
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(icons): add js extensions on imports
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/message/src/message.template.ts
Due: none

feat(chat): reworking of error handling, story controls, added video (#70)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(build): separate build commands to each package
  gulp-tasks/build/modules/css.js
  gulp-tasks/build/modules/scripts.js
  gulp-tasks/build/modules/types.js
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged

fix(carbon): upgrade correct versions
  package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: none

chore(storybook): put lit back
  package.json
  pnpm-lock.yaml
Due: none

chore: onboard @carbon-labs/ai-chat to IBM Telemetry 🚀
  README.md
  packages/chat/package.json
  packages/chat/telemetry.yml
  pnpm-lock.yaml
Due: prettier --cache --write

chore: onboard @carbon-labs/ai-chat to IBM Telemetry 🚀 (#72)
  README.md
  packages/chat/package.json
  packages/chat/telemetry.yml
  pnpm-lock.yaml
Due: prettier --cache --write

chore(build): separate build commands to each package (#71)
  gulp-tasks/build/modules/css.js
  gulp-tasks/build/modules/scripts.js
  gulp-tasks/build/modules/types.js
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(release): add release workflow of specific packages
  .github/workflows/release-package.yml
Due: none

chore(release): new release workflow for specific package
  .github/workflows/release-package.yml
Due: none

chore(release): new release workflow for specific package (#75)
  .github/workflows/release-package.yml
Due: none

chore(release): update release yml file
  .github/workflows/release-package.yml
Due: none

fix(release-package): ignore-workplace
  .github/workflows/release-package.yml
Due: none

fix(extended-button): update to reference node_modules instead
  packages/extended-button/components/extended-button/extended-button.ts
Due: none

chore(release): remove flag
  .github/workflows/release-package.yml
Due: none

chore(carbon): upgrade everything
  package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: none

chore(dependency): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(dependency): update dependencies (#84)
  package.json
  pnpm-lock.yaml
Due: none

chore(dependencies): update carbon dependencies
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: none
