Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(dependencies): update carbon dependencies (#85)
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: none

feat(feedback): improvements and fixes for feedback container
  .gitignore
  packages/chat/components/feedback/__stories__/feedback.stories.js
  packages/chat/components/feedback/src/feedback.scss
  packages/chat/components/feedback/src/feedback.template.ts
  packages/chat/components/feedback/src/feedback.ts
  packages/feedback/components/feedback/__stories__/feedback.stories.js
  packages/feedback/components/feedback/defs.ts
  packages/feedback/components/feedback/feedback.ts
  packages/feedback/components/feedback/src/feedback.scss
  packages/feedback/components/feedback/src/feedback.template.ts
  packages/feedback/components/feedback/src/feedback.ts
  packages/feedback/index.ts
  packages/feedback/package.json
  packages/feedback/react/feedback.ts
  packages/feedback/services/feedback/FeedbackApi.ts
  packages/feedback/services/feedback/index.ts
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(feedback): removed hardcoded percentage
  packages/feedback/components/feedback/src/feedback.template.ts
Due: none

chore(feedback): updated storybook
  packages/feedback/components/feedback/__stories__/feedback.stories.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(feedback): add build script to package
  packages/feedback/package.json
Due: none

fix(feedback): fixed minor issues
  packages/chat/index.ts
  packages/feedback/components/feedback/__stories__/feedback.stories.js
  packages/feedback/components/feedback/defs.ts
  packages/feedback/components/feedback/src/feedback.template.ts
  packages/feedback/components/feedback/src/feedback.ts
  packages/feedback/package.json
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(readme): update readme to general carbon-labs
  README.md
Due: prettier --cache --write

chore(storybook): update storybook title
  .storybook/theme.js
  packages/extended-button/package.json
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(format): format README
  README.md
Due: prettier --cache --write

chore(storybook): add theme switcher
  .storybook/preview.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

fix(storybook): remove unneed variables
  .storybook/preview.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(rename): rename monorepo package.json name
  package.json
Due: none

chore(package): add theming package
  package.json
  pnpm-lock.yaml
Due: none

chore(package): lock file
  pnpm-lock.yaml
Due: none

chore(package): swap back name for now
  package.json
Due: none

chore(storybook): update storybook title (#88)
  .storybook/preview.js
  .storybook/theme.js
  README.md
  package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(chat): added header, card components and reeize
  packages/chat/components/card/__stories__/card.stories.js
  packages/chat/components/card/card.ts
  packages/chat/components/card/src/card.scss
  packages/chat/components/card/src/card.template.ts
  packages/chat/components/card/src/card.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/header/__stories__/header.stories.js
  packages/chat/components/header/header.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/services/APIPlugin/APIPlugin.ts
  packages/chat/services/APIPlugin/index.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(rename): rename repo
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/ACCESSIBILITY_ISSUE.yaml
  .github/ISSUE_TEMPLATE/BUG_REPORT.yaml
  .github/ISSUE_TEMPLATE/DESIGN_DEFECT.yaml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST_OR_ENHANCEMENT.yaml
  .github/ISSUE_TEMPLATE/QUESTION.yaml
  .github/workflows/alpha-release.yml
  .github/workflows/automerge.yml
  .github/workflows/dco.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-package.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
  README.md
  SECURITY.md
  docs/developing.md
  package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/utilities/package.json
Due: prettier --cache --write

chore(rename): rename to carbon labs
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/QUESTION.yaml
  .github/ISSUE_TEMPLATE/USER_STORY.yaml
  .storybook/manager-head.html
  .storybook/preview-head.html
  docs/developing.md
  docs/support-for-carbon-v10.md
  packages/chat/package.json
  packages/extended-button/package.json
  packages/utilities/package.json
Due: prettier --cache --write

chore(rename): update actions yml files and rename in repo (#90)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/ACCESSIBILITY_ISSUE.yaml
  .github/ISSUE_TEMPLATE/BUG_REPORT.yaml
  .github/ISSUE_TEMPLATE/DESIGN_DEFECT.yaml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST_OR_ENHANCEMENT.yaml
  .github/ISSUE_TEMPLATE/QUESTION.yaml
  .github/ISSUE_TEMPLATE/USER_STORY.yaml
  .github/workflows/alpha-release.yml
  .github/workflows/automerge.yml
  .github/workflows/dco.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-package.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
  .storybook/manager-head.html
  .storybook/preview-head.html
  README.md
  SECURITY.md
  docs/developing.md
  docs/support-for-carbon-v10.md
  package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/utilities/package.json
Due: prettier --cache --write

chore(chat): added list object
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): merged files
  packages/chat/components/chat/src/chat.template.ts
Due: none

fix(ts): address some TS errors
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
Due: none

chore(chat): fixed ts errors
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.ts
  packages/chat/index.ts
Due: prettier --cache --write, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(extenstions): use js extensions
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/message/src/message.template.ts
Due: none

chore(chat): add chat to the index.js file
  packages/chat/index.ts
Due: none

fix(chat): add .js extensions to the icon imports
  packages/chat/components/card/src/card.template.ts
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/src/message.template.ts
Due: none

Feat/chat storybook updates (#95)
  packages/chat/components/card/__stories__/card.stories.js
  packages/chat/components/card/card.ts
  packages/chat/components/card/src/card.scss
  packages/chat/components/card/src/card.template.ts
  packages/chat/components/card/src/card.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/header/__stories__/header.stories.js
  packages/chat/components/header/header.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/index.ts
  packages/chat/services/APIPlugin/APIPlugin.ts
  packages/chat/services/APIPlugin/index.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(actions): rename github action secrets to labs
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
Due: none

feat(actions): rename github action secrets to labs (#96)
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
Due: none

chore(chat): added submit event and conversation object
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(chat): added disable buttons option
  packages/chat/carbon-labs-ai-chat-0.0.1-rc.1.tgz
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(format): format file
  packages/chat/components/chat/src/chat.ts
Due: none

feat(chat): storybook updates (#97)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(actions): add build check to ci-check
  .github/workflows/ci.yml
Due: none

chore(actions): add build check to ci-check (#100)
  .github/workflows/ci.yml
Due: none

fix(feedback): fixed pr comments
  packages/feedback/components/feedback/__stories__/feedback.stories.js
  packages/feedback/components/feedback/src/feedback.scss
  packages/feedback/components/feedback/src/feedback.template.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): added chart and table subcomponents
  packages/chat/components/chart/__stories__/chart.stories.ts
  packages/chat/components/chart/chart.ts
  packages/chat/components/chart/src/chart.scss
  packages/chat/components/chart/src/chart.template.ts
  packages/chat/components/chart/src/chart.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/table/__stories__/table.stories.js
  packages/chat/components/table/src/table.scss
  packages/chat/components/table/src/table.template.ts
  packages/chat/components/table/src/table.ts
  packages/chat/components/table/table.ts
  packages/chat/index.ts
  packages/chat/package-lock.json
  packages/chat/package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(charts): fix some ts errors
  packages/chat/components/chart/src/chart.ts
  packages/chat/components/table/src/table.ts
Due: none

fix(charts): fix ts errors
  packages/chat/components/chart/src/chart.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js
  pnpm lint:license:staged: (any of: **/*.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
