Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(feedback): add .js extensions
  packages/feedback/components/feedback/src/feedback.ts
Due: none

feat(feedback): improvements and fixes for feedback container (#86)
  .gitignore
  packages/chat/components/feedback/__stories__/feedback.stories.js
  packages/chat/components/feedback/src/feedback.scss
  packages/chat/components/feedback/src/feedback.template.ts
  packages/chat/components/feedback/src/feedback.ts
  packages/feedback/components/feedback/__stories__/feedback.stories.js
  packages/feedback/components/feedback/defs.ts
  packages/feedback/components/feedback/feedback.ts
  packages/feedback/components/feedback/src/feedback.scss
  packages/feedback/components/feedback/src/feedback.template.ts
  packages/feedback/components/feedback/src/feedback.ts
  packages/feedback/index.ts
  packages/feedback/package.json
  packages/feedback/react/feedback.ts
  packages/feedback/services/feedback/FeedbackApi.ts
  packages/feedback/services/feedback/index.ts
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(README): add link to feedback package
  README.md
Due: prettier --cache --write

chore(yarn): switch to yarn instead of pnpm
  .github/CONTRIBUTING.md
  .github/workflows/alpha-release.yml
  .github/workflows/ci.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-package.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  docs/developing.md
  lerna.json
  package.json
  packages/chat/package-lock.json
  packages/extended-button/components/extended-button/extended-button.ts
  packages/utilities/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --cache --write

fix(ci): remove unneeded pnpm install
  .github/workflows/ci.yml
Due: none

fix(yarn): install eslint
  package.json
  yarn.lock
Due: none

chore(lint): fix errors with yarn upgrade
  .yarn/install-state.gz
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(stylelint): remove package-lock.json file
  .yarn/install-state.gz
  package-lock.json
Due: none

chore(yarn): switch to yarn instead of pnpm (#101)
  .github/CONTRIBUTING.md
  .github/workflows/alpha-release.yml
  .github/workflows/ci.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-package.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .yarn/install-state.gz
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  docs/developing.md
  lerna.json
  package.json
  packages/chat/package-lock.json
  packages/extended-button/components/extended-button/extended-button.ts
  packages/utilities/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --cache --write

feat(storybook): upgrade to 8
  .storybook/main.js
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --cache --write, eslint, pnpm lint:license:staged

fix(format:write): missing . in storybook
  .storybook/main.js
  package.json
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(storybook): upgrade to 8 (#102)
  .storybook/main.js
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(script): add new cmd with ci-check and build
  package.json
Due: none

docs(developing): add more commands
  docs/developing.md
Due: prettier --cache --write

chore(script): add new cmd with ci-check and build (#104)
  docs/developing.md
  package.json
Due: prettier --cache --write

chore(chart): merging into main
  packages/chat/carbon-labs-ai-chat-0.0.1-rc.1.tgz
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/chartElement.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/__stories__/message.stories.js
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/tableElement/__stories__/tableElement.stories.js
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/tableElement/src/tableElement.template.ts
  packages/chat/components/tableElement/src/tableElement.ts
  packages/chat/components/tableElement/tableElement.ts
  packages/chat/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(utilities): update package name
  .yarn/install-state.gz
  README.md
  docs/developing.md
  packages/chat/components/card/card.ts
  packages/chat/components/card/src/card.template.ts
  packages/chat/components/chat/chat.ts
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/header/header.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/message.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/test-input/test-input.ts
  packages/chat/package.json
  packages/extended-button/components/extended-button/extended-button.ts
  packages/extended-button/package.json
  packages/feedback/components/feedback/feedback.ts
  packages/feedback/package.json
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(utilities): update package name (#109)
  .yarn/install-state.gz
  README.md
  docs/developing.md
  packages/chat/components/card/card.ts
  packages/chat/components/card/src/card.template.ts
  packages/chat/components/chat/chat.ts
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/header/header.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/message.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/test-input/test-input.ts
  packages/chat/package.json
  packages/extended-button/components/extended-button/extended-button.ts
  packages/extended-button/package.json
  packages/feedback/components/feedback/feedback.ts
  packages/feedback/package.json
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(rename): swap carbon-for-ai to carbon-labs
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/QUESTION.yaml
  docs/developing.md
  packages/feedback/package.json
Due: prettier --cache --write

chore(rename): swap carbon-for-ai to carbon-labs (#110)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/QUESTION.yaml
  docs/developing.md
  packages/feedback/package.json
Due: prettier --cache --write

chore(yarn): remove install-state file
  .gitignore
  .yarn/install-state.gz
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package-lock.json
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

Release/v0.1.0 (#111)
  .gitignore
  .yarn/install-state.gz
  packages/chat/CHANGELOG.md
  packages/chat/package-lock.json
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(README): add new labs canary storybook link
  README.md
Due: prettier --cache --write

chore(prefix): update prefix to clabs
  globals/scss/vars.scss
  globals/settings.ts
  packages/chat/__tests__/__snapshots__/test-input.test.snap.js
  packages/chat/__tests__/test-input.test.ts
  packages/chat/components/card/__stories__/card.stories.js
  packages/chat/components/card/card.ts
  packages/chat/components/card/src/card.scss
  packages/chat/components/card/src/card.template.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/chat.ts
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/header/__stories__/header.stories.js
  packages/chat/components/header/header.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/__stories__/message.stories.js
  packages/chat/components/message/message.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/test-input/__stories__/test-input.stories.js
  packages/chat/components/test-input/test-input.ts
  packages/chat/react/test-input.ts
  packages/extended-button/__stories__/extended-button.stories.js
  packages/extended-button/__tests__/__snapshots__/extended-button.test.snap.js
  packages/extended-button/__tests__/extended-button.test.ts
  packages/extended-button/components/extended-button/extended-button.ts
  packages/extended-button/components/extended-button/src/extended-button.scss
  packages/extended-button/react/extended-button.ts
  packages/feedback/components/feedback/__stories__/feedback.stories.js
  packages/feedback/components/feedback/feedback.ts
  packages/feedback/components/feedback/src/feedback.scss
  packages/feedback/react/feedback.ts
  packages/utilities/src/settings/settings.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(storybook): console errors for storybook default
  packages/chat/components/chat/__stories__/chat.stories.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(prefix): update prefix to clabs (#116)
  globals/scss/vars.scss
  globals/settings.ts
  packages/chat/__tests__/__snapshots__/test-input.test.snap.js
  packages/chat/__tests__/test-input.test.ts
  packages/chat/components/card/__stories__/card.stories.js
  packages/chat/components/card/card.ts
  packages/chat/components/card/src/card.scss
  packages/chat/components/card/src/card.template.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/chat.ts
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/header/__stories__/header.stories.js
  packages/chat/components/header/header.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/__stories__/message.stories.js
  packages/chat/components/message/message.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/test-input/__stories__/test-input.stories.js
  packages/chat/components/test-input/test-input.ts
  packages/chat/react/test-input.ts
  packages/extended-button/__stories__/extended-button.stories.js
  packages/extended-button/__tests__/__snapshots__/extended-button.test.snap.js
  packages/extended-button/__tests__/extended-button.test.ts
  packages/extended-button/components/extended-button/extended-button.ts
  packages/extended-button/components/extended-button/src/extended-button.scss
  packages/extended-button/react/extended-button.ts
  packages/feedback/components/feedback/__stories__/feedback.stories.js
  packages/feedback/components/feedback/feedback.ts
  packages/feedback/components/feedback/src/feedback.scss
  packages/feedback/react/feedback.ts
  packages/utilities/src/settings/settings.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(dependencies): update @carbon/web-components to 2.6.0
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  packages/feedback/package.json
  yarn.lock
Due: none

chore(dependencies): update @carbon/web-components to 2.6.0 (#124)
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  packages/feedback/package.json
  yarn.lock
Due: none

chore(export): limit exported files
  packages/chat/package.json
  packages/feedback/package.json
Due: none

chore(package.json): adjust exported files (#125)
  packages/chat/package.json
  packages/feedback/package.json
Due: none

chore(dependencies): remove lit dependency from packages
  packages/chat/package-lock.json
  packages/chat/package.json
  packages/extended-button/package.json
  packages/feedback/package.json
  yarn.lock
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
Due: prettier --cache --write

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(release): merge release branch (#126)
  packages/chat/CHANGELOG.md
  packages/chat/package-lock.json
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(stackblitz): add stackblitz example for feedback component
  globals/internal/storybook-cdn.ts
  packages/feedback/__stories__/feedback.mdx
  packages/feedback/__stories__/feedback.stories.js
  packages/feedback/examples/feedback/.gitignore
  packages/feedback/examples/feedback/cdn.html
  packages/feedback/examples/feedback/index.html
  packages/feedback/examples/feedback/package.json
  packages/feedback/examples/feedback/src/index.js
  packages/feedback/examples/feedback/src/styles.scss
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js
  pnpm lint:license:staged: (any of: **/*.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
