Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js": [
    "prettier --cache --write",
    "eslint",
    "pnpm lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "pnpm lint:license:staged"
  ],
  "*.md": [
    "prettier --cache --write"
  ]
}

feat(feedback): added feedback component (#45)
  .env.example
  packages/chat/components/feedback/__stories__/feedback.stories.js
  packages/chat/components/feedback/feedback.ts
  packages/chat/components/feedback/src/feedback.scss
  packages/chat/components/feedback/src/feedback.template.ts
  packages/chat/components/feedback/src/feedback.ts
  packages/chat/components/test-input/__stories__/test-input.stories.js
  packages/chat/package.json
  packages/chat/services/feedback/FeedbackApi.ts
  packages/chat/services/feedback/index.ts
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(format): fix prettier issues
  packages/chat/components/feedback/__stories__/feedback.stories.js
  tools/rollup.config.dist.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(stylelint): adjust stylelint rule to allow nesting
  .stylelintrc
Due: none

chore(canary-release): add flag to bypass dryrun and publish canary
  .github/workflows/release-canary.yml
Due: none

chore(stylelint): adjust stylelint rule to allow nesting (#49)
  .stylelintrc
Due: none

chore: document use of web components with react
  docs/network-usage.png
  docs/prefix-changes.png
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

Update docs/support-for-carbon-v10.md
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

chore: add theming details
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(cdn): add info about WC Shadow DOM
  docs/shadow-dom-inspector.png
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(web components): add link to Web API for Shadow DOM
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

chore: reword section repeat
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(web components): reword explanation of web components
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

chore: document use of web components with react (#50)
  docs/network-usage.png
  docs/prefix-changes.png
  docs/shadow-dom-inspector.png
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(images): moving images into a subfolder
  docs/images/network-usage.png
  docs/images/prefix-changes.png
  docs/images/shadow-dom-inspector.png
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(toc): add doctoc to create TOCs
  docs/developing.md
  docs/support-for-carbon-v10.md
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

docs(toc): rerun doctoc
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(updates): moving images into a subfolder and add TOCs (#51)
  docs/developing.md
  docs/images/network-usage.png
  docs/images/prefix-changes.png
  docs/images/shadow-dom-inspector.png
  docs/support-for-carbon-v10.md
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(cwc): update to latest cwc version
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
Due: none

docs(cdn): update cdn links to use 2.1.0
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

chore(package): bump of carobn versions
  package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: none

chore(cwc): update to latest cwc version (#52)
  docs/support-for-carbon-v10.md
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat(build): remove custom rollup plugin
  package.json
  packages/extended-button/__tests__/extended-button.test.ts
  pnpm-lock.yaml
  tools/babel-plugin-resource-js-paths.js
  tools/rollup-plugin-scss-path.js
  tools/rollup.config.dist.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(lock-file): update lock file
  pnpm-lock.yaml
Due: none

feat(build): remove custom rollup plugin and use alias plugin instead (#56)
  package.json
  packages/extended-button/__tests__/extended-button.test.ts
  pnpm-lock.yaml
  tools/babel-plugin-resource-js-paths.js
  tools/rollup-plugin-scss-path.js
  tools/rollup.config.dist.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(react): add react wrapper components
  packages/chat/react/feedback.ts
  packages/chat/react/test-input.ts
  packages/extended-button/react/extended-button.ts
  packages/utilities/src/index.js
  packages/utilities/src/settings/index.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(react): add react wrapper components (#57)
  packages/chat/react/feedback.ts
  packages/chat/react/test-input.ts
  packages/extended-button/react/extended-button.ts
  packages/utilities/src/index.js
  packages/utilities/src/settings/index.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(test): first commit
  README.md
Due: prettier --cache --write

chore(chat): first commit
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/chat.ts
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/package.json
  packages/chat/react/feedback.ts
  packages/chat/react/test-input.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
  packages/chat/services/LlamaPlugin/index.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(developing): correct desc for prettier cmds
  docs/developing.md
Due: prettier --cache --write

feat(stackblitz): add examples
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

feat(stackblitz): add examples (#60)
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

chore(chat): fixed PR responses
  packages/chat/.nx/cache/file-map.json
  packages/chat/.nx/cache/project-graph.json
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/package.json
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): fixed all TS, CI and lint issues
  .gitignore
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
  packages/chat/services/LlamaPlugin/index.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(chat): fixed last CI check error, ammended history
  packages/chat/components/chat/src/chat.ts
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: none

feat(chat): ammending DCO history
  packages/chat/components/chat/src/chat.template.ts
Due: none

feat(chat): fixed unused variable error
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: none

feat(chat): lint error fix
  packages/chat/services/LlamaPlugin/LlamaPlugin.ts
Due: none
