Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update packages/feedback/package.json
  packages/feedback/package.json
Due: none

chore(feedback-container): updated pnpm-lock file
  packages/feedback/components/feedback-container/src/feedback-container.template.ts
  pnpm-lock.yaml
Due: none

feat(feedback-container): added child components
  packages/feedback/__stories__/feedback-container.stories.js
  packages/feedback/__stories__/input-container.stories.js
  packages/feedback/components/feedback-container/src/feedback-container.template.ts
  packages/feedback/components/input-container/input-container.ts
  packages/feedback/components/input-container/src/input-container.template.ts
  packages/feedback/components/output-container/output-container.ts
  packages/feedback/components/output-container/src/output-container.template.ts
  packages/feedback/package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(feedback-container): added api service
  packages/feedback/components/feedback-container/src/feedback-container.template.ts
  packages/feedback/components/input-container/src/input-container.template.ts
  packages/feedback/components/output-container/src/output-container.template.ts
  packages/feedback/services/api.ts
Due: none

chore(publish): install lerna
  lerna.json
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

v0.0.1-rc.0
  lerna.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
Due: none

chore(release): edit github action for release
  .github/workflows/release.yml
Due: none

chore(release): edit for testing release
  .github/workflows/release.yml
  lerna.json
  packages/chat/package.json
  packages/extended-button/package.json
Due: none

chore(release): lerna commit message
  lerna.json
Due: none

chore(release): yaml syntax
  .github/workflows/release.yml
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
Due: prettier --cache --write

chore(lerna): remove unpublish package info
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
Due: prettier --cache --write

chore(lerna): testing
  .github/workflows/release.yml
Due: none

chore(lerna): edit yaml file
  .github/workflows/release.yml
Due: none

chore(lerna): fix conditional
  .github/workflows/release.yml
Due: none

chore(lerna): add provenance setting
  packages/chat/package.json
  packages/extended-button/package.json
Due: none

chore(lerna): add lerna to automate publishing (#38)
  .github/workflows/release.yml
  lerna.json
  package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

chore(gh-actions): test release
  .github/workflows/release.yml
Due: none

chore(gh-actions): edit syntax
  .github/workflows/release.yml
Due: none

chore(syntax): remove unwanted letter
  .github/workflows/release.yml
Due: none

chore(release): ensure release gh-actions work with dry-run and force publish inputs (#39)
  .github/workflows/release.yml
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
Due: prettier --cache --write

chore(cdn): get rollup for generating cdn files
  gulp-tasks/build.js
  gulp-tasks/build/dist.js
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  tools/get-rollup-config.js
  tools/rollup-plugin-scss-path.js
  tools/rollup.config.dist.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(cdn): add rollup arg for canary cdn
  .github/workflows/publish-cdn.yml
  .github/workflows/publish-latest-cdn.yml
  .github/workflows/publish-next-cdn.yml
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  tools/rollup.config.dist.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(cdn): add v in front of version number
  tools/rollup.config.dist.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(lockfile): updated lockfile
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js
  pnpm lint:license:staged: (any of: **/*.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
