Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(license): add license text
  tools/rollup.config.dist.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(cdn): create new rollup config to generate cdn artifacts within each package (#40)
  .github/workflows/publish-cdn.yml
  .github/workflows/publish-latest-cdn.yml
  .github/workflows/publish-next-cdn.yml
  gulp-tasks/build.js
  gulp-tasks/build/dist.js
  package.json
  packages/chat/package.json
  packages/extended-button/package.json
  pnpm-lock.yaml
  tools/get-rollup-config.js
  tools/rollup-plugin-scss-path.js
  tools/rollup.config.dist.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged

Update publish-canary-cdn.yml
  .github/workflows/publish-canary-cdn.yml
Due: none

chore(cdn): versioned CDN github workflow
  .github/workflows/publish-cdn.yml
Due: none

chore(feedback-container): removing from storybook
  packages/feedback/__stories__/input-container.stories.js
  packages/feedback/components/input-container/src/input-container.template.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(feedback-container): implemented feedback functionality
  packages/feedback/components/input-container/src/input-container.template.ts
  packages/feedback/components/output-container/src/output-container.template.ts
  packages/feedback/services/api.ts
Due: none

chore(utilities): create utilities package
  package.json
  packages/chat/components/test-input/test-input.ts
  packages/chat/package.json
  packages/extended-button/components/extended-button/extended-button.ts
  packages/extended-button/package.json
  packages/utilities/index.js
  packages/utilities/package.json
  packages/utilities/src/index.js
  packages/utilities/src/settings/index.js
  packages/utilities/src/settings/settings.js
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(cmd): have packages build before storybook build
  package.json
Due: none

chore(publish): canary publish workflow
  .github/workflows/release-canary.yml
Due: none

chore(utilities): create utilities package (#41)
  package.json
  packages/chat/components/test-input/test-input.ts
  packages/chat/package.json
  packages/extended-button/components/extended-button/extended-button.ts
  packages/extended-button/package.json
  packages/utilities/index.js
  packages/utilities/package.json
  packages/utilities/src/index.js
  packages/utilities/src/settings/index.js
  packages/utilities/src/settings/settings.js
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged

chore(publish): canary publish workflow (#42)
  .github/workflows/release-canary.yml
Due: none

fix(feedback-container): improved feedback recording
  packages/feedback/__stories__/feedback-container.stories.js
  packages/feedback/components/feedback-container/src/feedback-container.template.ts
  packages/feedback/components/output-container/src/output-container.template.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged

fix(feedback-container): formatting issue
  packages/feedback/components/input-container/src/input-container.template.ts
  packages/feedback/components/output-container/src/output-container.template.ts
  packages/feedback/services/api.ts
Due: none

docs: provide guidance on support for carbon v10
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

chore(prettier): run prettier fixes
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

feat(feedback-container): updating feedback component
  packages/chat/__stories__/feedback-container.stories.js
  packages/chat/components/feedback/feedback-container.ts
  packages/chat/components/feedback/src/feedback-container.template.ts
  packages/chat/components/test-input/test-input.ts
  packages/chat/package.json
  packages/chat/services/feedback/api.ts
  packages/extended-button/components/extended-button/extended-button.ts
  packages/feedback/__stories__/feedback-container.stories.js
  packages/feedback/components/output-container/src/output-container.template.ts
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged

feat(feedback-container): added feedback container
  .env.example
  packages/chat/__stories__/feedback-container.stories.js
  packages/chat/components/feedback/feedback-container.ts
  packages/chat/components/feedback/src/feedback-container.scss
  packages/chat/components/feedback/src/feedback-container.template.ts
  packages/chat/package.json
  packages/chat/services/feedback/FeedbackApi.ts
  packages/chat/services/feedback/index.ts
  pnpm-lock.yaml
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(developing): add documentation for developer contributors
  .prettierignore
  .stylelintignore
  README.md
  docs/developing.md
  package.json
Due: prettier --cache --write

docs(developing): add documentation for developer contributors (#46)
  .prettierignore
  .stylelintignore
  README.md
  docs/developing.md
  package.json
Due: prettier --cache --write

docs(developing): add storybook cmd to docs
  docs/developing.md
Due: prettier --cache --write

docs(developing): update doc
  docs/developing.md
Due: prettier --cache --write

chore(prettier): format developing doc
  docs/developing.md
Due: prettier --cache --write

chore(prettier): format developing doc (#47)
  docs/developing.md
Due: prettier --cache --write

docs(v10): CDN title description
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(v10): add explanation of enhancements to existing components
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

Update docs/support-for-carbon-v10.md
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(v10): switch first caution to important
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs(v10): fix notes formatting
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

docs: provide guidance on support for carbon v10 (#44)
  docs/support-for-carbon-v10.md
Due: prettier --cache --write

chore(feedback-container): break down of feedback-container component
  packages/chat/__stories__/feedback-container.stories.js
  packages/chat/components/feedback/feedback-container.ts
  packages/chat/components/feedback/src/feedback-container.template.ts
  packages/chat/components/feedback/src/feedback-container.ts
Due: prettier --cache --write, eslint, pnpm lint:license:staged

fix(feedback-container): fix for selection value
  packages/chat/components/feedback/src/feedback-container.template.ts
  packages/chat/components/feedback/src/feedback-container.ts
Due: none

chore(ga-workflow): add build step before dist step in cdn workflow
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
Due: none

chore(ga-workflow): add build step before dist step in cdn workflow (#48)
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
Due: none

fix(feedback-container): fixed linting errors and warnings
  packages/chat/components/feedback/feedback-container.ts
  packages/chat/components/feedback/src/feedback-container.template.ts
  packages/chat/components/feedback/src/feedback-container.ts
  packages/chat/services/feedback/FeedbackApi.ts
Due: none

fix(feedback-container): exporting feedback-container component
  packages/chat/index.ts
Due: none

feat(feedback): renaming to just feedback
  packages/chat/components/feedback/__stories__/feedback.stories.js
  packages/chat/components/feedback/feedback.ts
  packages/chat/components/feedback/src/feedback.scss
  packages/chat/components/feedback/src/feedback.template.ts
  packages/chat/components/feedback/src/feedback.ts
  packages/chat/components/test-input/__stories__/test-input.stories.js
Due: prettier --cache --write, eslint, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(feedback): renaming to just feedback
  packages/chat/index.ts
Due: none

feat(feedback): remove uncessary style imports
  packages/chat/components/feedback/src/feedback.scss
  packages/chat/components/feedback/src/feedback.template.ts
Due: prettier --cache --write, pnpm lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js
  pnpm lint:license:staged: (any of: **/*.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
